/* ==================== */
/* ====== RESET ======= */
/* ==================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.2;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}


/* ======= Resusable Components ======= */

.container{
    max-width: 160rem;
    margin: 0 auto;
    background-color: var(--container-bg);
    padding-top: 3rem;
}

.row{
    max-width: 132.1rem;
    margin: 0 auto;
}

/* Colors */

:root{
    --primary-color: #161616;
    --primary-color-2: rgb(22, 22, 22, 70%);
    --secondary-color: #DD0000;
    --text-color-1: #B9B9B9;
    --white: #FFFFFF;
    --container-bg: #f8f9fa;
    --hover-bg: #F2CA30;
    --hover-bg-2: #06864D;
}


h1{
    font-size: 7rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1rem;
}

h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--white);
}

h4{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

p{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
    line-height: 1.6;
}

img{
    width: 100%; height: auto;
}

/* BUTON */

.btn:link,
.btn:visited,
.btn{
    background: var(--hover-bg-2);
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    transition: .7s;
}


.btn:hover{
    background: var(--hover-bg);
    color: var(--primary-color);
}

.btn-inActive:link,
.btn-inActive:visited,
.btn-inActive{
    background: var(--white);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 1.6rem 0;
    border-radius: 1rem;
    width: 25.2rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .7s;
}

.btn-inActive:hover{
    background: var(--hover-bg-2)!important;
    color: var(--white)!important;
}

.btn-Active{
    background: var(--hover-bg-2)!important;
    color: var(--white)!important;
}

/* Blog Cards */

.card{
    max-width: 31.2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 1rem;
    overflow: hidden;
}

.card img{
    border-radius: 1rem 1rem 0 0;
    transition: .5s;
}

.card img:hover{
    transform: scale(1.1);
}

.card .card-details{
    padding: 1rem 2rem 2rem 2rem;
}

.card .card-details .btn-transfer{
    border: .1rem solid var(--primary-color-2);
    padding: .4rem .9rem;
    border-radius: .5rem;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .7rem 0;
    display: inline-block;
}

.card .card-details .blog-history a {
    color: var(--primary-color-2);
    font-size: 1.6rem;
    margin-right: 2rem;
    
}

.card .card-details .blog-history a:last-child{
    margin-right: 0;
}


/* ====== Start Header Section Design ====== */

.header-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: var(--primary-color);
    padding: 1rem 7rem 0 10rem;
    border-radius: 3rem;
}

.header-items .header-left{
    max-width: 53rem;
}

.header-items .header-left p:nth-child(4){
    margin-bottom: 3rem;
}

/* Header Animations */

@keyframes float {
    0% {
      transform: translatey(0rem);
    }
    50% {
      transform: translatey(-1.2rem);
    }
    100% {
      transform: translatey(0rem);
    }
    
  }

.header-items .header-right img{
    transform: translateY(0rem);
    animation: float 6s ease-in-out infinite;
}

/* ====== Start Blog Section Design ====== */

.blog-items{
    display: grid;
    grid-template-columns: 33rem auto;
    justify-content: space-between;
    margin-top: 10rem;
    padding-bottom: 8rem;
}

.blog-items .blog-navigator-btn{
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 31.2rem;
    height: 33rem;
}

.blog-items .blog-navigator-btn ul{
    flex-direction: column;
}

.blog-items .blog-navigator-btn ul li{
    margin-bottom: 3rem;
}

.blog-items .blog-navigator-btn ul li:last-child{
    margin-bottom: 0rem;
}

.blog-items .blogs{
    display: grid;
    grid-template-columns: repeat(3, 31.2rem);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* ====== Start Footer Section Design ====== */

.footer-bg{
    background: var(--primary-color);
}

.footer-items{
    text-align: center;
    padding: 5rem;
}

.footer-items h2{
    border-bottom: .1rem solid rgba(255, 255, 255, 10%);
    padding-bottom: 4rem;
}

.footer-items .footer-menu{
    width: 70%;
    margin: 4rem auto;
}

.footer-items .footer-menu ul{
    justify-content: space-between;
    align-items: center;
}

.footer-items .footer-menu ul li a{
    font-size: 1.6rem;
    color: var(--text-color-1);
    font-weight: 600;
}


.footer-items .social-icons{
    margin: 3rem 0;
 }

 .footer-items .social-icons ul{
    justify-content: center;
    align-items: center;
 }

 .footer-items .social-icons ul li{
    margin-left: 1.5rem;
 }

 .footer-items .social-icons ul li:first-child{
    margin-left: 0;
 }

 .footer-items .social-icons ul li a{
    color: var(--white);
 }

 .footer-items .social-icons ul li a i::before{
    background: rgb(255, 255, 255, 10%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    transition: .3s;
}

.footer-items .social-icons ul li a:hover i::before{
    background: var(--hover-bg);
}



